@import '../assets/globals.postcss.css';

.code-panel {
  position:       absolute;
  left:           calc( 10 * $PX );
  right:          calc( 10 * $PX );
  margin-top:     calc( -32 * $PX );
  border-radius:  calc( 6 * $PX ) calc( 6 * $PX ) 0 0;
  background:     rgba( 61, 27, 60, 1 );
  z-index:        1;

  &__input-wrap {
    margin:         calc( 4 * $PX ) calc( 5 * $PX ) calc( 5 * $PX );
    border-radius:  calc( 2 * $PX );
    background:     #42103F;
    border:         1px solid $c-pastel-purple;
    box-shadow:     inset calc( 2 * $PX ) calc( 2 * $PX ) 0 rgba(0,0,0,0.5);
  }

  &__input-field {
    display:        block;
    background:     transparent;
    color:          $c-white;
    font-size:      9px;
    letter-spacing: 0.45px;
    line-height:    21px;
    font-weight:    100;
    padding:        0 0.3em 0 0.8em;
    border:         none;
    width:          100%;
    height:         calc( 21*$PX );
  }
   & ::selection {
     background: $c-orange;
   }
}
