
@import '../assets/globals.postcss.css';

.curve-editor {
  position:       fixed;
  left:           0;
  top:            0;
  width:          calc( 411 * $PX );
  height:         calc( 398 * $PX );
  border-radius:  calc( 12 * $PX );
  background:     rgba( 58, 8, 58, .85 );
  z-index:        100;
  box-shadow:     2px 2px 2px rgba(0,0,0,.38);

  $gap : 10;
  &__left {
    position:     absolute;
    width:        calc( 42 * $PX );
    left:         0;
    top:          0;
    bottom:       0;
    padding:      calc( $gap * $PX );

    & icon-divider {
      margin: calc( 10*$PX ) auto;
    }
  }

  &__right {
    position:       absolute;
    left:           calc( 43 * $PX );
    top:            0;
    right:          0;
    bottom:         0;

    $radius: 16;
    $leftPanel: 42;
    & resize-handle {
      position:       absolute;

      &[type="top"] {
        top:          calc( -$radius*$PX );
      }

      &[type="bottom"] {
        bottom:       0;
      }

      &[type="top"],
      &[type="bottom"] {
        left:         50%;
        margin-left:  calc( (-$radius - $gap/2)*$PX );
      }

      &[type="right"] {
        right:        calc( -$radius*$PX );
        top:          50%;
        margin-top:   calc( -$radius*$PX );
      }

    }
  }

  &__anchor-buttons {
    margin-top:   calc(  10*$PX );
    /*display:      none;*/

    & icon-button {
      margin-bottom: calc(  5*$PX );
    }

    /*&.is-show {
      display:    block;
    }*/
  }

  &__mojs-logo {
    position:     absolute;
    bottom:       calc( 1.7 * $gap * $PX );
    left:         50%;
    margin-left:  calc( 1 * $PX );
    transform:    translateX(-50%);

    & icon {
      fill:       $c-orange;
      width:      calc( 12*$PX );
      height:     calc( 12*$PX );
    }
  }
}
