
@import '../assets/globals.postcss.css';

.curve-editor {
  position:       fixed;
  right:          0;
  top:            calc( 30 * $PX );
  width:          calc( 411 * $PX );
  height:         calc( 378 * $PX );
  border-radius:  calc( 12 * $PX );
  background:     rgba( 58, 8, 58, .85 );
  z-index:        100;
  box-shadow:     2px 2px 2px rgba(0,0,0,.38);
  
  $gap : 10;
  &__left {
    position:     absolute;
    width:        calc( 42 * $PX );
    left:         0;
    top:          0;
    bottom:       0;
    padding:      calc( $gap * $PX );
  }

  &__right {
    position:       absolute;
    left:           calc( 42 * $PX );
    right:          calc( $gap * $PX );
    top:            calc( $gap * $PX );
    bottom:         calc( $gap * $PX );
    border-radius:  calc( 2 * $PX );
    background:     rgba( 58, 8, 58, .75 );
    border:         1px solid #B3A0B2;
    box-shadow:     inset 4px 4px 0 rgba(0,0,0,0.5);
  }

  &__mojs-logo {
    position:   absolute;
    bottom:     calc( 1.7 * $gap * $PX );
    left:       50%;
    margin-left: calc( 1 * $PX );
    transform:  translateX(-50%);
    
    & icon {
      fill:       $c-orange;
      width:      calc( 12*$PX );
      height:     calc( 12*$PX );
    }
  }
}

