@import '../assets/globals.postcss.css';

.icon-divider {
  position:         relative;
  margin:           0 auto;
  width:            calc( 16*$PX );
  height:           calc( 1*$PX );
  display:          block;
  background:       rgba(255,255,255,.3);
  box-shadow:       0px calc( 1*$PX ) 0 rgba(0,0,0,.3);
}
