@import '../assets/globals.postcss.css';

.icon-divider {
  position:         relative;
  top:              10px;
  left:             4px;
  width:            calc( 16*$PX );
  height:           calc( 2*$PX );
  display:          block;
  background:       $c-white;
  border-radius:    calc( 3*$PX );
  box-shadow:       0px calc( 2*$PX ) 0 rgba(0,0,0,.6);
}
