.amazo-tile {
  border-radius: 3px;

  &.default {
    background: #fff;
    color: #000;
    text-shadow: 1px 1px 1px #DCDCDC;
  }

  &.success {
    background: #8bc34a;
    color: #fff;
    text-shadow: 1px 1px 1px #66671E;
  }

  &.warning {
    background: #C3B44A;
    color: #fff;
    text-shadow: 1px 1px 1px #808221;
  }

  &.danger {
    background: #C34A4A;
    color: #fff;
    text-shadow: 1px 1px 1px #671E1E;
  }
  &.information {
    background: #4A91C3;
    color: #fff;
    text-shadow: 1px 1px 1px #1E2E67;
  }
  &.purple {
    background: #A04AC3;
    color: #fff;
    text-shadow: 1px 1px 1px #1E2E67;
  }
  &.teal {
    background: #4AC3BD;
    color: #fff;
    text-shadow: 1px 1px 1px #1E2E67;
  }
}

.amozo-style-header-username-subtext {

}
